html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*:before,
*::after {
    box-sizing: inherit
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background {
    background-image: url(/images/JavaScriptBackgroundImage2.jpg);
    height: 100%;
    background-size: cover;
}

h1 {
    text-align: center;
    color: white;
}

#userSubmit {
    width: 72px;
    height: 31px;
    background-color: white;
    cursor: pointer;
}

.Button {
    width: 72px;
    height: 72px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    opacity: .7;
}

.Button:hover {
    opacity: 1;
}

[hidden] {
	display: none !important;
}

.modal {
    height: 100vh;
    width: 100vw;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal .blanket {
    background-color: rgba(0, 0, 0, .8);

    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.modal-body {
    background-color: #fff;
    border: 1rem solid red;

    height: 50vh;
    max-width: 50vw;

    position: relative;
    z-index: 101;

    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}

#tree {
    background-image: url(../images/PartridgeInATree_Icon.png);
}

#turtle {
    background-image: url(../images/TwoTurtleDoves_Icon.png);
}

#hen {
    background-image: url(../images/ThreeHens_Icon.png);
}

#bird {
    background-image: url(../images/FourCallingBirds_Icon.png);
}

#ring {
    background-image: url(../images/GoldRings_Icon.png);
}

#geese {
    background-image: url(../images/SixGeese_Icon.png);
}

#swan {
    background-image: url(../images/SevenSwans_Icon.png);
}

#maid {
    background-image: url(../images/MaidMilking_Icon.png);
}

#lady {
    background-image: url(../images/NineDancers_Icon.png);
}

#lord {
    background-image: url(../images/TenLords_Icon.png);
}

#pipes {
    background-image: url(../images/ElevenPipers_Icon.png);
}

#drums {
    background-image: url(../images/TwelveDrummers_Icon.png);
}
